header {
  padding: 20px 0 0;

  h1 {
    font-size: 40px;
    display: inline-block;
    padding: 10px;
    line-height: 16px;
    vertical-align: top;
  }
  .mde-image {
    display: inline-block;

    &:before {
      content: '';
      background-image: image_url('mde');
      box-shadow: 0 0 4px 4px #AADAE3 inset;
      width: 60px;
      height: 60px;
      display: block;
      background-size: cover;
    }
    &:after {
      content: "Molly Dog Enterprises";
      font-size: 6px;
      position: relative;
      top: -14px;
    }
  }
}


#next-game {
  height: 30px;
  padding: 4px 0;
  background-color: #a3f8ff;
  color: #9b9daa;
  font-weight: bold;
  padding: 8px 10px;
  margin-bottom: 5px;
  text-align: right;
}
