#navigation {
  height: 30px;
  background-color: #111;
  color: #aaa;
  font-weight: bold;

  ul {
    position: relative;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline-block;
      padding: 7px 10px;

      border-right: solid 1px #555;

      &:last-child {
        border-right: none;
      }

      a, a:visited {
        color: white;
      }
      a:hover {
        color: #aaa;
        text-decoration: none;
      }

    }
  }
}

#navigation {
  .filters {
    border-bottom: solid 1px #555;
    border-top: solid 1px #555;
  }

  .filter {

  }

  /* Menu Styles */
  .second-level-menu {
    z-index: 100000;
    position: absolute;
    top: 28px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background: black;
    border-top: 1px solid #555
  }

  .second-level-menu ul > li {
    display: block;
    position: relative;
    //height: 30px;
    border-right: none;
    padding: 7px 10px 5px;
    //background: #999999;

    &:last-child {
      padding-bottom: 7px;
    }
  }
  .second-level-menu ul > li:hover {
    //background: #CCCCCC;
  }

  .top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .top-level-menu > li {
    position: relative;
    float: left;
    //height: 30px;
    //width: 150px;
  }
  .top-level-menu ul > li:hover {
    //background: #CCCCCC;
  }

  .top-level-menu li:hover > .second-level-menu {
    /* On hover, display the next level's menu */
    display: inline;
  }

  /* Menu Link Styles */

  .top-level-menu a /* Apply to all links inside the multi-level menu */
  {
    //padding: 0 0 0 10px;

    display: block;
    //line-height: 30px;
  }
  .top-level-menu a:hover {
    //color: #000000;
  }
}
