.incorrect-pick {
  color: red;
}

.place-change {
  .up {
    color: green;
    &:before {
      content: '\25B2';
    }

  }

  .down {
    color: red;
    &:before {
      content: '\25BC';
    }
  }
}

#nav {
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;

  a, a:visited {
    color: black;
  }

  a:hover {
    color: #666;
  }

  .next {
    &:after {
      padding-left: 3px;
      content: '\25B6';
    }
  }
  .prev {
    &:before {
      content: '\25C0';
      padding-right: 3px;
    }
  }

}

.highlight {
  background-color: #c9ff00;
}

.drop-down {
  &:after {
    padding-left: 3px;
    color: white;
    content: '\25BC';
    font-size: 12px;

    &:hover {
      color: red;
    }
  }
}

.access {
  padding: 0 50px;
  line-height: 35px;

  input {
    width: 300px;
  }

  input[type=checkbox] {
    width: auto;
  }

  .btn {
    margin-top: 10px;
  }

  &:before {
    content: '';
    background-image: image_url('mde');
    box-shadow: 0 0 4px 4px #AADAE3 inset;
    width: 240px;
    height: 240px;
    display: inline-block;
    background-size: cover;
    float: right;
    margin-top: 40px;
  }
}

.simple_form {
  label {
    display: block;
  }
}
