<h1>MyTipper - RWC 2015</h1>

<p>
  The next game is due to start in under 24 hours and you have not yet entered your pick.
</p>


<p>
  Click <%= link_to 'HERE', picks_url %> to enter you pick now!!
</p>

<p>
  <a href="<%= edit_user_registration_url %>">Cancel emails</a>
</p>
